* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  min-width: 1024px;
}

/* 큰 데스크탑 */
@media (min-width: 1600px) {
  html {
    font-size: 18px;
  }
}

/* 작은 데스크탑 */
@media (min-width: 1024px) and (max-width: 1199px) {
  html {
    font-size: 15px;
  }
}
